.home-sidebar {
  float: left;
}
.sidebar .filters_container button {
  border: none;
  text-align: left;
  background: none;
  padding: 1rem;
  list-style: square;
}
.sidebar .filters_container button:hover,
label.form-check-label:hover {
  color: var(--third-color);
}

.linktohome {
  text-decoration: none;
  color: black;
}

.container-home {
  display: inline-block;
}

.container-filtro {
  /* border: 1px solid #000; */
  display: flex;
  padding: 6px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  margin-top: 12px;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 3px 1px white;
}

.container-item {
  /* border: 1px solid #000; */
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-home {
  text-transform: uppercase;
  margin-top: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-color: white;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-color: #070707;
  color: rgb(2, 2, 2);
  transition: background 600ms ease-in-out;
}

.btn-home:hover {
  background-position: 0;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  color: white !important;
}

.select-home select::-ms-expand {
  display: none;
}

.select-home {
  max-width: 250px;
  position: relative;
}

.select-home select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  color: #000 !important;
  color: white;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  text-transform: uppercase;
}

.select-home select option {
  color: black;
}
.select-home i {
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 13px;
  height: 13px;
  display: block;
  border-left: 4px solid #080808;
  border-bottom: 4px solid #d13d22;
  transform: rotate(-45deg); /* Giramos el cuadrado */
  transition: all 0.25s ease;
  margin-top: 15px;
}

.p-home {
  border: 1px solid #000;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
}
