.container-dog {
  margin-top: 1.25rem;
  /* border: 1px solid #000; */
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container-form {
  /* border: 1px solid #000; */
  height: 55rem;
  width: 80%;
  background-color: white;
  border-radius: 1.5625rem;
}

.display-input {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
  padding: 5px;
  text-transform: uppercase;
}

.display-input input {
  padding: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
}

.display-input select {
  padding: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
  cursor: pointer;
}

.button-volver {
  /* background-color: white; */
  width: 20%;
}

.button-volver button {
  text-transform: uppercase;
  margin-top: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-weight: 700;
  background-color: white;
}

.button-volver button:hover {
  background-position: 0;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  transition: background 600ms ease-in-out;
  color: white !important;
}

.button-volver .link-dog {
  text-decoration: none;
}

.formulario {
  border: 3px solid #000;
  width: 500px;
  margin: -50px auto;
  border-radius: 12px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
}

.titulo h1 {
  text-transform: uppercase;
  font-size: 24px;
  border: 1px solid #000;
  width: 60%;
  margin: 15px auto;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
}

.btn-crear button {
  text-transform: uppercase;
  margin-top: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-weight: 700;
}

.btn-crear :hover {
  box-shadow: 0 0px 0px 0 rgba(226, 229, 231, 0.938);
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  transition: background 600ms ease-in-out;
  color: white;
  background-position: 0;
}

.conta {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  /* border: 1px solid #000; */
  margin-top: -650px;
}

.delete-button {
  margin: 3px;
  cursor: pointer;
  width: 150px;
  font-size: 15px;
  padding: 0.7em 1em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1em;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.error {
  margin-top: 7px;
  text-transform: capitalize;
  background-color: #e74c3c;
  border-radius: 12px;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .button-volver {
    margin-left: 58px;
  }
  .formulario {
    border: 3px solid #000;
    width: 300px;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
  }
  .container-form {
    /* border: 1px solid #000; */
    height: 65rem;
    width: 80%;
  }
  .btn-crear button {
    padding: 10px;
  }
}
