.inputBuscar {
  padding: 12px;
  border: none;
  /* border-radius: 6px; */
  border: 1px solid black;
}

.btn-dark {
  padding: 12px;
  border: none;
  border: 1px solid black;
  background-color: #c71515;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .inputBuscar {
    padding: 10px;
    border: none;
    width: 100px;
    border: 1px solid black;
  }
}
