.nav {
  height: 100%;
  width: 90%;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* border: 1px solid #000000; */
  margin: 0 auto;
}

/* Button Style */
.create {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 16px 32px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
  border-radius: 8px;
  transition: all 0.5s ease;
  background-color: white;
}

.create:hover {
  box-shadow: 0 0px 0px 0 rgba(226, 229, 231, 0.938);
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  transition: background 600ms ease-in-out;
  color: white;
  background-position: 0;
}

@media screen and (max-width: 768px) {
  .create {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 7px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
    border-radius: 8px;
    transition: all 0.5s ease;
    background-color: white;
  }
}
