.container-detail {
  /* border: 1px solid #000; */
  margin-top: 20px;
}
.imagen-detail {
  border-radius: 13px;
  width: 390px;
  height: 300px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
}

.container-item-dog {
  color: black;
  text-transform: uppercase;
  border: 1px solid #000;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
}

.container-item-dog button {
  text-transform: uppercase;
  margin-top: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-weight: 700;
  transition: background 600ms ease-in-out;
  background-color: white;
}

.container-item-dog button:hover {
  background-position: 0;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  color: white !important;
}

.link-detail {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .imagen-detail {
    border-radius: 13px;
    width: 250px;
    height: 160px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.979);
  }
  .container-item-dog button {
    margin-left: 58px;
  }
}
